In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np
from functools import reduce
import unidecode

In [ ]:
# Load the pre-cleaned datasets
df_standard = pd.read_csv('FBref_dataset/top5_league_stats.csv')
df_shooting = pd.read_csv('FBref_dataset/top5_league_shooting.csv')
df_passing = pd.read_csv('FBref_dataset/top5_league_passing.csv')
df_pass_type = pd.read_csv('FBref_dataset/top5_league_passing_types.csv')
df_shot_creation = pd.read_csv('FBref_dataset/top5_league_gca.csv')
df_defense = pd.read_csv('FBref_dataset/top5_league_defense.csv')
df_possession = pd.read_csv('FBref_dataset/top5_league_possession.csv')
df_misc = pd.read_csv('FBref_dataset/top5_league_misc.csv')
df_playing_time = pd.read_csv('FBref_dataset/top5_league_playingtime.csv')

In [83]:
df_standard

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,Matches
0,1,Max Aarons,eng ENG,DF,Bournemouth,eng Premier League,25-026,2000.0,3,1,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches
1,2,Max Aarons,eng ENG,MF,Valencia,es La Liga,25-026,2000.0,1,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches
2,3,Rodrigo Abajas,es ESP,DF,Valencia,es La Liga,21-263,2003.0,1,1,...,0.00,0.00,0.00,0.00,0.10,0.00,0.10,0.10,0.10,Matches
3,4,James Abankwah,ie IRL,"DF,MF",Udinese,it Serie A,21-014,2004.0,6,0,...,0.00,0.00,0.00,0.00,0.06,0.00,0.06,0.06,0.06,Matches
4,5,Keyliane Abdallah,fr FRA,FW,Marseille,fr Ligue 1,18-300,2006.0,1,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2533,2534,Martín Zubimendi,es ESP,MF,Real Sociedad,es La Liga,25-363,1999.0,20,19,...,0.05,0.11,0.05,0.11,0.08,0.04,0.12,0.08,0.12,Matches
2534,2535,Szymon Żurkowski,pl POL,MF,Empoli,it Serie A,27-127,1997.0,1,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches
2535,2536,Martin Ødegaard,no NOR,MF,Arsenal,eng Premier League,26-044,1998.0,15,14,...,0.23,0.30,0.00,0.23,0.22,0.18,0.40,0.16,0.34,Matches
2536,2537,Milan Đurić,ba BIH,FW,Monza,it Serie A,34-253,1990.0,18,13,...,0.07,0.35,0.28,0.35,0.21,0.08,0.28,0.21,0.28,Matches
2537,2538,Milan Đurić,ba BIH,FW,Parma,it Serie A,34-253,1990.0,1,1,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches

In [ ]:
# Function to clean the DataFrames by dropping unnecessary columns.
def clean_data(df):
    df = df.drop(columns=['Rk','Matches'])
    return df

In [ ]:
# Apply the cleaning function to all DataFrames.
df_standard = clean_data(df_standard)
df_shooting = clean_data(df_shooting)
df_passing = clean_data(df_passing)
df_pass_type = clean_data(df_pass_type)
df_shot_creation = clean_data(df_shot_creation)
df_defense = clean_data(df_defense)
df_possession = clean_data(df_possession)
df_misc = clean_data(df_misc)
df_playing_time = clean_data(df_playing_time)

In [86]:
df_standard

,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,Min,...,Gls.1,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
0,Max Aarons,eng ENG,DF,Bournemouth,eng Premier League,25-026,2000.0,3,1,86,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,Max Aarons,eng ENG,MF,Valencia,es La Liga,25-026,2000.0,1,0,31,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,Rodrigo Abajas,es ESP,DF,Valencia,es La Liga,21-263,2003.0,1,1,65,...,0.00,0.00,0.00,0.00,0.00,0.10,0.00,0.10,0.10,0.10
3,James Abankwah,ie IRL,"DF,MF",Udinese,it Serie A,21-014,2004.0,6,0,88,...,0.00,0.00,0.00,0.00,0.00,0.06,0.00,0.06,0.06,0.06
4,Keyliane Abdallah,fr FRA,FW,Marseille,fr Ligue 1,18-300,2006.0,1,0,3,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2533,Martín Zubimendi,es ESP,MF,Real Sociedad,es La Liga,25-363,1999.0,20,19,1714,...,0.05,0.05,0.11,0.05,0.11,0.08,0.04,0.12,0.08,0.12
2534,Szymon Żurkowski,pl POL,MF,Empoli,it Serie A,27-127,1997.0,1,0,8,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2535,Martin Ødegaard,no NOR,MF,Arsenal,eng Premier League,26-044,1998.0,15,14,1200,...,0.07,0.23,0.30,0.00,0.23,0.22,0.18,0.40,0.16,0.34
2536,Milan Đurić,ba BIH,FW,Monza,it Serie A,34-253,1990.0,18,13,1270,...,0.28,0.07,0.35,0.28,0.35,0.21,0.08,0.28,0.21,0.28
2537,Milan Đurić,ba BIH,FW,Parma,it Serie A,34-253,1990.0,1,1,69,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [87]:
df_shooting

,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Gls,Sh,...,G/SoT,Dist,FK,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG
0,Max Aarons,eng ENG,DF,Bournemouth,eng Premier League,25-026,2000.0,1.0,0,0,...,NaN,NaN,0,0,0,0.0,0.0,NaN,0.0,0.0
1,Max Aarons,eng ENG,MF,Valencia,es La Liga,25-026,2000.0,0.3,0,0,...,NaN,NaN,0,0,0,0.0,0.0,NaN,0.0,0.0
2,Rodrigo Abajas,es ESP,DF,Valencia,es La Liga,21-263,2003.0,0.7,0,1,...,NaN,24.5,0,0,0,0.1,0.1,0.07,-0.1,-0.1
3,James Abankwah,ie IRL,"DF,MF",Udinese,it Serie A,21-014,2004.0,1.0,0,1,...,NaN,15.0,0,0,0,0.1,0.1,0.06,-0.1,-0.1
4,Keyliane Abdallah,fr FRA,FW,Marseille,fr Ligue 1,18-300,2006.0,0.0,0,0,...,NaN,NaN,0,0,0,0.0,0.0,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2533,Martín Zubimendi,es ESP,MF,Real Sociedad,es La Liga,25-363,1999.0,19.0,1,13,...,0.25,15.2,0,0,0,1.5,1.5,0.12,-0.5,-0.5
2534,Szymon Żurkowski,pl POL,MF,Empoli,it Serie A,27-127,1997.0,0.1,0,0,...,NaN,NaN,0,0,0,0.0,0.0,NaN,0.0,0.0
2535,Martin Ødegaard,no NOR,MF,Arsenal,eng Premier League,26-044,1998.0,13.3,1,21,...,0.00,17.7,1,1,1,2.9,2.2,0.10,-1.9,-2.2
2536,Milan Đurić,ba BIH,FW,Monza,it Serie A,34-253,1990.0,14.1,4,23,...,0.40,11.7,0,0,0,2.9,2.9,0.13,1.1,1.1
2537,Milan Đurić,ba BIH,FW,Parma,it Serie A,34-253,1990.0,0.8,0,0,...,NaN,NaN,0,0,0,0.0,0.0,NaN,0.0,0.0

In [88]:
df_passing

,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Cmp,Att,...,Cmp%.3,Ast,xAG,xA,A-xAG,KP,1/3,PPA,CrsPA,PrgP
0,Max Aarons,eng ENG,DF,Bournemouth,eng Premier League,25-026,2000.0,1.0,50,63,...,57.1,0,0.0,0.0,0.0,0,8,0,0,8
1,Max Aarons,eng ENG,MF,Valencia,es La Liga,25-026,2000.0,0.3,14,18,...,100.0,0,0.0,0.0,0.0,0,1,0,0,2
2,Rodrigo Abajas,es ESP,DF,Valencia,es La Liga,21-263,2003.0,0.7,17,29,...,28.6,0,0.0,0.0,0.0,0,0,0,0,2
3,James Abankwah,ie IRL,"DF,MF",Udinese,it Serie A,21-014,2004.0,1.0,36,46,...,37.5,0,0.0,0.0,0.0,0,2,0,0,4
4,Keyliane Abdallah,fr FRA,FW,Marseille,fr Ligue 1,18-300,2006.0,0.0,2,2,...,NaN,0,0.0,0.0,0.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2533,Martín Zubimendi,es ESP,MF,Real Sociedad,es La Liga,25-363,1999.0,19.0,888,1067,...,63.4,1,0.7,0.8,0.3,12,107,15,0,127
2534,Szymon Żurkowski,pl POL,MF,Empoli,it Serie A,27-127,1997.0,0.1,1,3,...,0.0,0,0.0,0.0,0.0,0,0,0,0,0
2535,Martin Ødegaard,no NOR,MF,Arsenal,eng Premier League,26-044,1998.0,13.3,609,731,...,49.2,3,2.4,3.3,0.6,32,69,46,5,134
2536,Milan Đurić,ba BIH,FW,Monza,it Serie A,34-253,1990.0,14.1,131,266,...,100.0,1,1.1,0.2,-0.1,5,16,2,0,21
2537,Milan Đurić,ba BIH,FW,Parma,it Serie A,34-253,1990.0,0.8,5,15,...,NaN,0,0.0,0.0,0.0,0,0,0,0,0

In [89]:
df_pass_type

,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Att,Live,...,Sw,Crs,TI,CK,In,Out,Str,Cmp,Off,Blocks
0,Max Aarons,eng ENG,DF,Bournemouth,eng Premier League,25-026,2000.0,1.0,63,51,...,0,2,10,0,0,0,0,50,0,1
1,Max Aarons,eng ENG,MF,Valencia,es La Liga,25-026,2000.0,0.3,18,14,...,0,2,4,0,0,0,0,14,0,0
2,Rodrigo Abajas,es ESP,DF,Valencia,es La Liga,21-263,2003.0,0.7,29,21,...,0,1,8,0,0,0,0,17,0,2
3,James Abankwah,ie IRL,"DF,MF",Udinese,it Serie A,21-014,2004.0,1.0,46,45,...,0,0,0,0,0,0,0,36,0,0
4,Keyliane Abdallah,fr FRA,FW,Marseille,fr Ligue 1,18-300,2006.0,0.0,2,2,...,0,0,0,0,0,0,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2533,Martín Zubimendi,es ESP,MF,Real Sociedad,es La Liga,25-363,1999.0,19.0,1067,1030,...,5,6,1,1,0,0,0,888,4,10
2534,Szymon Żurkowski,pl POL,MF,Empoli,it Serie A,27-127,1997.0,0.1,3,3,...,0,0,0,0,0,0,0,1,0,0
2535,Martin Ødegaard,no NOR,MF,Arsenal,eng Premier League,26-044,1998.0,13.3,731,674,...,0,44,6,16,13,0,0,609,6,14
2536,Milan Đurić,ba BIH,FW,Monza,it Serie A,34-253,1990.0,14.1,266,261,...,2,0,0,0,0,0,0,131,0,1
2537,Milan Đurić,ba BIH,FW,Parma,it Serie A,34-253,1990.0,0.8,15,15,...,0,0,0,0,0,0,0,5,0,0

In [90]:
df_shot_creation

,Player,Nation,Pos,Squad,Comp,Age,Born,90s,SCA,SCA90,...,Fld,Def,GCA,GCA90,PassLive.1,PassDead.1,TO.1,Sh.1,Fld.1,Def.1
0,Max Aarons,eng ENG,DF,Bournemouth,eng Premier League,25-026,2000.0,1.0,2,2.09,...,0,0,0,0.00,0,0,0,0,0,0
1,Max Aarons,eng ENG,MF,Valencia,es La Liga,25-026,2000.0,0.3,0,0.00,...,0,0,0,0.00,0,0,0,0,0,0
2,Rodrigo Abajas,es ESP,DF,Valencia,es La Liga,21-263,2003.0,0.7,0,0.00,...,0,0,0,0.00,0,0,0,0,0,0
3,James Abankwah,ie IRL,"DF,MF",Udinese,it Serie A,21-014,2004.0,1.0,1,1.02,...,0,0,0,0.00,0,0,0,0,0,0
4,Keyliane Abdallah,fr FRA,FW,Marseille,fr Ligue 1,18-300,2006.0,0.0,0,0.00,...,0,0,0,0.00,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2533,Martín Zubimendi,es ESP,MF,Real Sociedad,es La Liga,25-363,1999.0,19.0,32,1.68,...,1,1,3,0.16,2,0,0,0,1,0
2534,Szymon Żurkowski,pl POL,MF,Empoli,it Serie A,27-127,1997.0,0.1,0,0.00,...,0,0,0,0.00,0,0,0,0,0,0
2535,Martin Ødegaard,no NOR,MF,Arsenal,eng Premier League,26-044,1998.0,13.3,66,4.96,...,0,0,9,0.68,9,0,0,0,0,0
2536,Milan Đurić,ba BIH,FW,Monza,it Serie A,34-253,1990.0,14.1,7,0.50,...,0,0,1,0.07,1,0,0,0,0,0
2537,Milan Đurić,ba BIH,FW,Parma,it Serie A,34-253,1990.0,0.8,1,1.30,...,1,0,0,0.00,0,0,0,0,0,0

In [91]:
df_defense

,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Tkl,TklW,...,Att,Tkl%,Lost,Blocks,Sh,Pass,Int,Tkl+Int,Clr,Err
0,Max Aarons,eng ENG,DF,Bournemouth,eng Premier League,25-026,2000.0,1.0,2,2,...,1,100.0,0,3,1,2,1,3,0,0
1,Max Aarons,eng ENG,MF,Valencia,es La Liga,25-026,2000.0,0.3,1,1,...,1,100.0,0,1,0,1,0,1,0,0
2,Rodrigo Abajas,es ESP,DF,Valencia,es La Liga,21-263,2003.0,0.7,3,2,...,3,100.0,0,1,0,1,1,4,0,0
3,James Abankwah,ie IRL,"DF,MF",Udinese,it Serie A,21-014,2004.0,1.0,4,2,...,3,66.7,1,2,1,1,1,5,3,0
4,Keyliane Abdallah,fr FRA,FW,Marseille,fr Ligue 1,18-300,2006.0,0.0,1,1,...,1,100.0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2533,Martín Zubimendi,es ESP,MF,Real Sociedad,es La Liga,25-363,1999.0,19.0,47,27,...,28,67.9,9,27,9,18,29,76,47,2
2534,Szymon Żurkowski,pl POL,MF,Empoli,it Serie A,27-127,1997.0,0.1,0,0,...,0,NaN,0,0,0,0,0,0,0,0
2535,Martin Ødegaard,no NOR,MF,Arsenal,eng Premier League,26-044,1998.0,13.3,14,7,...,15,13.3,13,4,0,4,2,16,2,0
2536,Milan Đurić,ba BIH,FW,Monza,it Serie A,34-253,1990.0,14.1,1,1,...,3,0.0,3,6,0,6,2,3,17,0
2537,Milan Đurić,ba BIH,FW,Parma,it Serie A,34-253,1990.0,0.8,0,0,...,1,0.0,1,0,0,0,0,0,0,0

In [92]:
df_possession

,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Touches,Def Pen,...,Carries,TotDist,PrgDist,PrgC,1/3,CPA,Mis,Dis,Rec,PrgR
0,Max Aarons,eng ENG,DF,Bournemouth,eng Premier League,25-026,2000.0,1.0,73,2,...,41,152,68,1,0,0,1,0,40,3
1,Max Aarons,eng ENG,MF,Valencia,es La Liga,25-026,2000.0,0.3,24,0,...,10,28,10,0,0,0,1,1,11,3
2,Rodrigo Abajas,es ESP,DF,Valencia,es La Liga,21-263,2003.0,0.7,36,1,...,13,101,67,3,2,1,0,2,16,3
3,James Abankwah,ie IRL,"DF,MF",Udinese,it Serie A,21-014,2004.0,1.0,65,8,...,29,219,165,3,1,1,1,3,34,1
4,Keyliane Abdallah,fr FRA,FW,Marseille,fr Ligue 1,18-300,2006.0,0.0,4,0,...,1,10,9,1,0,0,1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2533,Martín Zubimendi,es ESP,MF,Real Sociedad,es La Liga,25-363,1999.0,19.0,1292,76,...,625,3401,1566,26,19,3,24,10,846,26
2534,Szymon Żurkowski,pl POL,MF,Empoli,it Serie A,27-127,1997.0,0.1,6,0,...,3,15,4,0,0,0,1,1,3,0
2535,Martin Ødegaard,no NOR,MF,Arsenal,eng Premier League,26-044,1998.0,13.3,829,3,...,574,3310,1633,39,36,13,18,28,658,76
2536,Milan Đurić,ba BIH,FW,Monza,it Serie A,34-253,1990.0,14.1,358,18,...,150,368,134,2,2,1,15,14,289,30
2537,Milan Đurić,ba BIH,FW,Parma,it Serie A,34-253,1990.0,0.8,17,0,...,7,18,2,0,0,0,0,1,12,0

In [93]:
df_misc

,Player,Nation,Pos,Squad,Comp,Age,Born,90s,CrdY,CrdR,...,Crs,Int,TklW,PKwon,PKcon,OG,Recov,Won,Lost,Won%
0,Max Aarons,eng ENG,DF,Bournemouth,eng Premier League,25-026,2000.0,1.0,0,0,...,2,1,2,0,0,0,7,0,0,NaN
1,Max Aarons,eng ENG,MF,Valencia,es La Liga,25-026,2000.0,0.3,0,0,...,2,0,1,0,0,0,4,0,0,NaN
2,Rodrigo Abajas,es ESP,DF,Valencia,es La Liga,21-263,2003.0,0.7,1,0,...,1,1,2,0,0,0,2,0,1,0.0
3,James Abankwah,ie IRL,"DF,MF",Udinese,it Serie A,21-014,2004.0,1.0,1,0,...,0,1,2,0,0,0,7,2,2,50.0
4,Keyliane Abdallah,fr FRA,FW,Marseille,fr Ligue 1,18-300,2006.0,0.0,0,0,...,0,0,1,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2533,Martín Zubimendi,es ESP,MF,Real Sociedad,es La Liga,25-363,1999.0,19.0,4,0,...,6,29,27,1,0,0,88,35,15,70.0
2534,Szymon Żurkowski,pl POL,MF,Empoli,it Serie A,27-127,1997.0,0.1,0,0,...,0,0,0,0,0,0,2,0,0,NaN
2535,Martin Ødegaard,no NOR,MF,Arsenal,eng Premier League,26-044,1998.0,13.3,1,0,...,44,2,7,0,0,0,46,6,2,75.0
2536,Milan Đurić,ba BIH,FW,Monza,it Serie A,34-253,1990.0,14.1,3,0,...,0,2,1,0,0,0,13,132,50,72.5
2537,Milan Đurić,ba BIH,FW,Parma,it Serie A,34-253,1990.0,0.8,0,0,...,0,0,0,0,0,0,5,4,5,44.4

In [94]:
df_playing_time

,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Min,Mn/MP,...,onG,onGA,+/-,+/-90,On-Off,onxG,onxGA,xG+/-,xG+/-90,On-Off.1
0,Max Aarons,eng ENG,DF,Bournemouth,eng Premier League,25-026,2000.0,3,86.0,29.0,...,2.0,0.0,2.0,2.09,1.50,2.3,0.3,2.0,2.12,1.52
1,Max Aarons,eng ENG,MF,Valencia,es La Liga,25-026,2000.0,1,31.0,31.0,...,0.0,2.0,-2.0,-5.81,-5.13,0.9,0.6,0.4,1.10,1.70
2,Álvaro Abajas,es ESP,GK,Leganés,es La Liga,21-263,2003.0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Rodrigo Abajas,es ESP,DF,Valencia,es La Liga,21-263,2003.0,1,65.0,65.0,...,1.0,2.0,-1.0,-1.38,-0.64,1.4,0.7,0.7,0.93,1.56
4,James Abankwah,ie IRL,"DF,MF",Udinese,it Serie A,21-014,2004.0,6,88.0,15.0,...,2.0,0.0,2.0,2.05,2.57,0.6,1.5,-0.9,-0.91,-0.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3127,Szymon Żurkowski,pl POL,MF,Empoli,it Serie A,27-127,1997.0,1,8.0,8.0,...,1.0,1.0,0.0,0.00,0.37,0.2,0.4,-0.2,-2.09,-1.60
3128,Oliwier Zych,pl POL,GK,Aston Villa,eng Premier League,20-216,2004.0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3129,Martin Ødegaard,no NOR,MF,Arsenal,eng Premier League,26-044,1998.0,15,1200.0,80.0,...,29.0,10.0,19.0,1.42,1.01,22.8,9.9,12.9,0.97,0.51
3130,Milan Đurić,ba BIH,FW,Monza,it Serie A,34-253,1990.0,18,1270.0,71.0,...,16.0,23.0,-7.0,-0.50,0.26,12.4,18.1,-5.7,-0.40,0.19
3131,Milan Đurić,ba BIH,FW,Parma,it Serie A,34-253,1990.0,1,69.0,69.0,...,1.0,1.0,0.0,0.00,0.52,0.2,1.0,-0.8,-1.07,-0.46

In [95]:
# Rows with duplicate player names
duplicate_names = df_standard[df_standard.duplicated('Player')].Player
# Rows with duplicate player names and age
duplicate_names_age = df_standard[df_standard.duplicated(subset=['Player', 'Age'])].Player
duplicate_player_names_only = duplicate_names[~duplicate_names.isin(duplicate_names_age)]

In [96]:
# Print rows with duplicate player names only
df_standard[df_standard.Player.isin(duplicate_player_names_only)]

,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,Min,...,Gls.1,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
571,Danilo,br BRA,MF,Nott'ham Forest,eng Premier League,23-276,2001.0,1,1,14,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
572,Danilo,br BRA,DF,Juventus,it Serie A,33-199,1991.0,12,6,581,...,0.00,0.15,0.15,0.00,0.15,0.02,0.06,0.08,0.02,0.08
1196,Joshua King,eng ENG,"MF,FW",Fulham,eng Premier League,18-027,2007.0,5,1,80,...,0.00,0.00,0.00,0.00,0.00,0.22,0.48,0.70,0.22,0.70
1197,Joshua King,no NOR,"FW,MF",Toulouse,fr Ligue 1,33-015,1992.0,17,14,1108,...,0.32,0.16,0.49,0.32,0.49,0.36,0.13,0.49,0.36,0.49
1970,Rodri,es ESP,MF,Manchester City,eng Premier League,28-222,1996.0,2,1,65,...,0.00,0.00,0.00,0.00,0.00,0.00,0.06,0.06,0.00,0.06
1971,Rodri,es ESP,FW,Betis,es La Liga,24-259,2000.0,3,1,118,...,0.00,0.00,0.00,0.00,0.00,0.13,0.06,0.19,0.13,0.19
2415,Vitinha,pt POR,FW,Genoa,it Serie A,24-321,2000.0,15,9,791,...,0.00,0.23,0.23,0.00,0.23,0.11,0.28,0.39,0.11,0.39
2416,Vitinha,pt POR,MF,Paris S-G,fr Ligue 1,24-352,2000.0,16,12,1175,...,0.23,0.00,0.23,0.08,0.08,0.20,0.11,0.30,0.07,0.18

In [97]:
# Print rows with duplicate player names and age
df_standard[df_standard.Player.isin(duplicate_names_age)]

,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,Min,...,Gls.1,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
0,Max Aarons,eng ENG,DF,Bournemouth,eng Premier League,25-026,2000.0,3,1,86,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,Max Aarons,eng ENG,MF,Valencia,es La Liga,25-026,2000.0,1,0,31,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
17,Tammy Abraham,eng ENG,FW,Roma,it Serie A,27-120,1997.0,1,0,1,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
18,Tammy Abraham,eng ENG,FW,Milan,it Serie A,27-120,1997.0,16,7,751,...,0.24,0.24,0.48,0.12,0.36,0.73,0.14,0.87,0.53,0.67
37,Emmanuel Agbadou,ci CIV,DF,Wolves,eng Premier League,27-227,1997.0,3,3,270,...,0.00,0.00,0.00,0.00,0.00,0.01,0.00,0.01,0.01,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2517,Alessio Zerbin,it ITA,"FW,DF",Napoli,it Serie A,25-333,1999.0,2,0,2,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2519,Cedric Zesiger,ch SUI,DF,Augsburg,de Bundesliga,26-220,1998.0,2,2,180,...,0.00,0.00,0.00,0.00,0.00,0.06,0.06,0.12,0.06,0.12
2520,Cedric Zesiger,ch SUI,DF,Wolfsburg,de Bundesliga,26-220,1998.0,7,5,522,...,0.00,0.00,0.00,0.00,0.00,0.01,0.00,0.01,0.01,0.01
2536,Milan Đurić,ba BIH,FW,Monza,it Serie A,34-253,1990.0,18,13,1270,...,0.28,0.07,0.35,0.28,0.35,0.21,0.08,0.28,0.21,0.28
2537,Milan Đurić,ba BIH,FW,Parma,it Serie A,34-253,1990.0,1,1,69,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

Since the duplicates with names only are players that happen to have the exact same name, we won't change those duplicates. 

However, the duplicates with both names and age are all 
players that were transfered to a different team mid-season, so we will get rid of the duplicate entry with the lesser number of matches played

In [98]:
# Function to remove duplicates of players who transfered mid season
def remove_duplicates(df):
    df = df.sort_values('Min', ascending=False).drop_duplicates(subset=['Player', 'Age'], keep='first').reset_index(drop=True)
    return df

In [99]:
df_passing

,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Cmp,Att,...,Cmp%.3,Ast,xAG,xA,A-xAG,KP,1/3,PPA,CrsPA,PrgP
0,Max Aarons,eng ENG,DF,Bournemouth,eng Premier League,25-026,2000.0,1.0,50,63,...,57.1,0,0.0,0.0,0.0,0,8,0,0,8
1,Max Aarons,eng ENG,MF,Valencia,es La Liga,25-026,2000.0,0.3,14,18,...,100.0,0,0.0,0.0,0.0,0,1,0,0,2
2,Rodrigo Abajas,es ESP,DF,Valencia,es La Liga,21-263,2003.0,0.7,17,29,...,28.6,0,0.0,0.0,0.0,0,0,0,0,2
3,James Abankwah,ie IRL,"DF,MF",Udinese,it Serie A,21-014,2004.0,1.0,36,46,...,37.5,0,0.0,0.0,0.0,0,2,0,0,4
4,Keyliane Abdallah,fr FRA,FW,Marseille,fr Ligue 1,18-300,2006.0,0.0,2,2,...,NaN,0,0.0,0.0,0.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2533,Martín Zubimendi,es ESP,MF,Real Sociedad,es La Liga,25-363,1999.0,19.0,888,1067,...,63.4,1,0.7,0.8,0.3,12,107,15,0,127
2534,Szymon Żurkowski,pl POL,MF,Empoli,it Serie A,27-127,1997.0,0.1,1,3,...,0.0,0,0.0,0.0,0.0,0,0,0,0,0
2535,Martin Ødegaard,no NOR,MF,Arsenal,eng Premier League,26-044,1998.0,13.3,609,731,...,49.2,3,2.4,3.3,0.6,32,69,46,5,134
2536,Milan Đurić,ba BIH,FW,Monza,it Serie A,34-253,1990.0,14.1,131,266,...,100.0,1,1.1,0.2,-0.1,5,16,2,0,21
2537,Milan Đurić,ba BIH,FW,Parma,it Serie A,34-253,1990.0,0.8,5,15,...,NaN,0,0.0,0.0,0.0,0,0,0,0,0

In [100]:
# Combine all the dataframes
data_frames = [df_standard, df_shooting, df_passing, df_pass_type, df_shot_creation, df_defense, df_possession, df_misc]
combined_df = reduce(lambda left, right: pd.merge(left, right, on=['Player', 'Nation', 'Pos', 'Squad', 'Comp', 'Age', 'Born'],
                                                  how='outer', suffixes=('', '_dup')), data_frames)
combined_df = remove_duplicates(combined_df)
combined_df.drop(labels=[col for col in combined_df.columns if '90s' in col], axis=1, inplace=True)

In [101]:
combined_df

,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,Min,...,Crs_dup,Int_dup,TklW_dup,PKwon,PKcon,OG,Recov,Won,Lost_dup,Won%
0,Antonee Robinson,us USA,DF,Fulham,eng Premier League,27-175,1997.0,23,23,2070,...,118,44,39,0,0,0,96,27,17,61.4
1,Matz Sels,be BEL,GK,Nott'ham Forest,eng Premier League,32-339,1992.0,23,23,2070,...,0,0,1,0,0,0,7,12,1,92.3
2,Dean Henderson,eng ENG,GK,Crystal Palace,eng Premier League,27-324,1997.0,23,23,2070,...,0,0,1,0,0,0,17,9,1,90.0
3,André Onana,cm CMR,GK,Manchester Utd,eng Premier League,28-303,1996.0,23,23,2070,...,0,0,1,0,0,0,21,5,0,100.0
4,Illia Zabarnyi,ua UKR,DF,Bournemouth,eng Premier League,22-151,2002.0,23,23,2070,...,4,23,24,0,0,0,109,53,25,67.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2469,Yoann Cissé,fr FRA,MF,Auxerre,fr Ligue 1,20-048,2004.0,1,0,1,...,0,0,0,0,0,0,1,0,0,NaN
2470,Remy Rees-Dottin,eng ENG,FW,Bournemouth,eng Premier League,18-330,2006.0,1,0,1,...,0,0,0,0,0,0,0,0,0,NaN
2471,Alfie Pond,eng ENG,DF,Wolves,eng Premier League,20-335,2004.0,1,0,1,...,0,0,0,0,0,0,0,0,0,NaN
2472,Adryelson,br BRA,DF,Lyon,fr Ligue 1,26-313,1998.0,1,0,1,...,0,1,0,0,0,0,0,1,0,100.0
2473,Aaron Ciammaglichella,it ITA,MF,Torino,it Serie A,20-004,2005.0,1,0,1,...,0,0,0,0,0,0,0,0,0,NaN

In [102]:
combined_df.columns

Index(['Player', 'Nation', 'Pos', 'Squad', 'Comp', 'Age', 'Born', 'MP',
       'Starts', 'Min',
       ...
       'Crs_dup', 'Int_dup', 'TklW_dup', 'PKwon', 'PKcon', 'OG', 'Recov',
       'Won', 'Lost_dup', 'Won%'],
      dtype='object', length=160)

In [103]:
# Rename column values
combined_df.rename(columns={"Squad": "Team"}, inplace=True)

In [105]:
# Drop goalkeepers from dataset
combined_df.drop(combined_df[combined_df.Pos == 'GK'].index, inplace=True)

# Drop any players that haven't played 90 minutes
combined_df.drop(combined_df[combined_df.Min < 90].index, inplace=True)
combined_df.reset_index(drop=True, inplace=True)
combined_df

,Player,Nation,Pos,Team,Comp,Age,Born,MP,Starts,Min,...,Crs_dup,Int_dup,TklW_dup,PKwon,PKcon,OG,Recov,Won,Lost_dup,Won%
0,Antonee Robinson,us USA,DF,Fulham,eng Premier League,27-175,1997.0,23,23,2070,...,118,44,39,0,0,0,96,27,17,61.4
1,Illia Zabarnyi,ua UKR,DF,Bournemouth,eng Premier League,22-151,2002.0,23,23,2070,...,4,23,24,0,0,0,109,53,25,67.9
2,Nathan Collins,ie IRL,DF,Brentford,eng Premier League,23-275,2001.0,23,23,2070,...,6,20,17,2,0,0,105,75,40,65.2
3,Bryan Mbeumo,cm CMR,FW,Brentford,eng Premier League,25-176,1999.0,23,23,2064,...,115,9,17,0,0,0,95,22,52,29.7
4,Moisés Caicedo,ec ECU,MF,Chelsea,eng Premier League,23-089,2001.0,23,23,2035,...,8,33,40,1,1,0,137,24,10,70.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1984,Chadi Riad,ma MAR,DF,Crystal Palace,eng Premier League,21-227,2003.0,1,1,90,...,0,2,2,0,0,0,4,2,4,33.3
1985,Issa Kaboré,bf BFA,"FW,DF",Werder Bremen,de Bundesliga,23-263,2001.0,4,0,90,...,9,0,0,0,0,0,5,1,1,50.0
1986,Ángel Ortíz,es ESP,DF,Betis,es La Liga,20-189,2004.0,1,1,90,...,4,2,5,0,0,0,5,1,2,33.3
1987,Roman Dixon,eng ENG,DF,Everton,eng Premier League,20-035,2004.0,1,1,90,...,0,1,5,0,0,0,6,0,3,0.0
1988,Enzo Ebosse,cm CMR,DF,Udinese,it Serie A,25-325,1999.0,2,0,90,...,0,1,0,0,0,0,5,1,0,100.0

In [106]:
# Get rid of null values (any percent columns replace null with mean, any other columns replace null with 0)

# Function to find percent columns
def find_percent_cols(df):
    percent_cols = []
    for name in df.columns:
        if '%' in name:
            percent_cols.append(name)
            
    return percent_cols
        
# Function to get rid of null values
def remove_null(df):
    percent_cols = find_percent_cols(df)
    
    for col in percent_cols:
        df[col].fillna(round(df[col].mean(), 1), inplace=True)
        
    df.fillna(0, inplace=True)
        
    return df

In [107]:
combined_df = remove_null(combined_df)
combined_df

C:\Users\ASUSs\AppData\Local\Temp\ipykernel_20644\3752082833.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(round(df[col].mean(), 1), inplace=True)

,Player,Nation,Pos,Team,Comp,Age,Born,MP,Starts,Min,...,Crs_dup,Int_dup,TklW_dup,PKwon,PKcon,OG,Recov,Won,Lost_dup,Won%
0,Antonee Robinson,us USA,DF,Fulham,eng Premier League,27-175,1997.0,23,23,2070,...,118,44,39,0,0,0,96,27,17,61.4
1,Illia Zabarnyi,ua UKR,DF,Bournemouth,eng Premier League,22-151,2002.0,23,23,2070,...,4,23,24,0,0,0,109,53,25,67.9
2,Nathan Collins,ie IRL,DF,Brentford,eng Premier League,23-275,2001.0,23,23,2070,...,6,20,17,2,0,0,105,75,40,65.2
3,Bryan Mbeumo,cm CMR,FW,Brentford,eng Premier League,25-176,1999.0,23,23,2064,...,115,9,17,0,0,0,95,22,52,29.7
4,Moisés Caicedo,ec ECU,MF,Chelsea,eng Premier League,23-089,2001.0,23,23,2035,...,8,33,40,1,1,0,137,24,10,70.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1984,Chadi Riad,ma MAR,DF,Crystal Palace,eng Premier League,21-227,2003.0,1,1,90,...,0,2,2,0,0,0,4,2,4,33.3
1985,Issa Kaboré,bf BFA,"FW,DF",Werder Bremen,de Bundesliga,23-263,2001.0,4,0,90,...,9,0,0,0,0,0,5,1,1,50.0
1986,Ángel Ortíz,es ESP,DF,Betis,es La Liga,20-189,2004.0,1,1,90,...,4,2,5,0,0,0,5,1,2,33.3
1987,Roman Dixon,eng ENG,DF,Everton,eng Premier League,20-035,2004.0,1,1,90,...,0,1,5,0,0,0,6,0,3,0.0
1988,Enzo Ebosse,cm CMR,DF,Udinese,it Serie A,25-325,1999.0,2,0,90,...,0,1,0,0,0,0,5,1,0,100.0

In [108]:
combined_df.isna().sum()

Player      0
Nation      0
Pos         0
Team        0
Comp        0
           ..
OG          0
Recov       0
Won         0
Lost_dup    0
Won%        0
Length: 160, dtype: int64

Now we will combine the stats dataset from FB-Reference to the transfer market dataset

In [109]:
# Load the transfer market dataset
tm_df = pd.read_csv('Transfermarkt Datasets/top5_league_market_values.csv')
tm_df.drop(labels=tm_df.columns[0], axis=1, inplace=True)
tm_df.rename(columns={"Players": "Player"}, inplace=True)

# Define a function for cleaning text
def clean_text(df, columns):
    for column in columns:
        df[column].fillna('', inplace=True)
        if column == 'Team':
             df[column] = df[column].apply(lambda x: unidecode.unidecode(x).lower())
        else:
           df[column] = df[column].apply(lambda x: unidecode.unidecode(x))
    return df

# Apply the cleaning function to both DataFrames
tm_df = clean_text(tm_df,['Player','Team'])
combined_df = clean_text(combined_df,['Player','Team'])

tm_df

C:\Users\ASUSs\AppData\Local\Temp\ipykernel_20644\1209430796.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna('', inplace=True)

                   Player      Values              Team
0              David Raya  40000000.0        arsenal fc
1                    Neto   2000000.0        arsenal fc
2          William Saliba  80000000.0        arsenal fc
3            Jakub Kiwior  28000000.0        arsenal fc
4      Riccardo Calafiori  45000000.0        arsenal fc
...                   ...         ...               ...
2472  Zuriko Davitashvili   8000000.0  as saint etienne
2473       Mathieu Cafaro   2000000.0  as saint etienne
2474        Lucas Stassin   5000000.0  as saint etienne
2475      Ibrahim Sissoko   2500000.0  as saint etienne
2476       Ibrahima Wadji    800000.0  as saint etienne

[2477 rows x 3 columns]

In [110]:
# Change the team names so they match in both datasets
replace_dict = {
    "arsenal fc": "arsenal",
    "aston villa": "aston villa",
    "afc bournemouth": "bournemouth",
    "brentford fc": "brentford",
    "brighton amp hove albion": "brighton",
    "fc chelsea": "chelsea",
    "crystal palace": "crystal palace",
    "fc everton": "everton",
    "fc fulham": "fulham",
    "ipswich town": "ipswich town",
    "leicester city": "leicester city",
    "fc liverpool": "liverpool",
    "manchester city": "manchester city",
    "manchester united": "manchester utd",
    "newcastle united": "newcastle utd",
    "nottingham forest": "nott'ham forest",
    "fc southampton": "southampton",
    "tottenham hotspur": "tottenham",
    "west ham united": "west ham",
    "wolverhampton wanderers": "wolves",
    "atletico madrid": "atletico madrid",
    "fc barcelona": "barcelona",
    "real madrid": "real madrid",
    "real betis sevilla": "betis",
    "fc sevilla": "sevilla",
    "ca osasuna": "osasuna",
    "real sociedad san sebastian": "real sociedad",
    "athletic bilbao": "athletic club",
    "deportivo alaves": "alaves",
    "celta vigo": "celta vigo",
     "fc valencia": "valencia",
    "fc villarreal": "villarreal",
     "fc getafe": "getafe",
    "rayo vallecano": "rayo vallecano",
     "rcd mallorca": "mallorca",
    "ud las palmas": "las palmas",
    "fc girona": "girona",
     "real valladolid": "valladolid",
     "cd leganes": "leganes",
     "espanyol barcelona": "espanyol",
     "inter milan": "inter",
    "ac mailand": "milan",
     "juventus turin": "juventus",
     "atalanta bergamo": "atalanta",
    "fc bologna": "bologna",
     "as rom": "roma",
    "lazio rom": "lazio",
     "ac florenz": "fiorentina",
    "fc turin": "torino",
    "ssc neapel": "napoli",
     "genua cfc": "genoa",
    "ac monza": "monza",
     "hellas verona": "hellas verona",
     "us lecce": "lecce",
     "udinese calcio": "udinese",
    "cagliari calcio": "cagliari",
     "fc empoli": "empoli",
    "parma calcio 1913": "parma",
     "como 1907": "como",
     "venezia fc": "venezia",
     "bayer 04 leverkusen": "leverkusen",
    "vfb stuttgart": "stuttgart",
    "fc bayern munchen": "bayern munich",
    "rasenballsport leipzig": "rb leipzig",
     "borussia dortmund": "dortmund",
    "eintracht frankfurt": "eint frankfurt",
     "tsg 1899 hoffenheim": "hoffenheim",
    "1 fc heidenheim 1846": "heidenheim",
    "sv werder bremen": "werder bremen",
    "sc freiburg": "freiburg",
     "fc augsburg": "augsburg",
    "vfl wolfsburg": "wolfsburg",
     "1 fsv mainz 05": "mainz 05",
    "borussia monchengladbach": "gladbach",
     "1 fc union berlin": "union berlin",
    "vfl bochum": "bochum",
    "fc st pauli": "st. pauli",
    "holstein kiel": "holstein kiel",
     "fc paris saint germain": "paris s-g",
    "as monaco": "monaco",
    "stade brest 29": "brest",
    "losc lille": "lille",
     "ogc nizza": "nice",
    "olympique lyon": "lyon",
    "rc lens": "lens",
     "olympique marseille": "marseille",
    "stade reims": "reims",
     "fc stade rennes": "rennes",
    "fc toulouse": "toulouse",
    "montpellier hsc": "montpellier",
    "rc strassburg alsace": "strasbourg",
    "fc nantes": "nantes",
    "ac le havre": "le havre",
     "aj auxerre": "auxerre",
    "sco angers":"angers",
    "as saint etienne":"saint-etienne",
}

tm_df.replace(replace_dict, inplace=True)

In [111]:
tm_df

                   Player      Values           Team
0              David Raya  40000000.0        arsenal
1                    Neto   2000000.0        arsenal
2          William Saliba  80000000.0        arsenal
3            Jakub Kiwior  28000000.0        arsenal
4      Riccardo Calafiori  45000000.0        arsenal
...                   ...         ...            ...
2472  Zuriko Davitashvili   8000000.0  saint-etienne
2473       Mathieu Cafaro   2000000.0  saint-etienne
2474        Lucas Stassin   5000000.0  saint-etienne
2475      Ibrahim Sissoko   2500000.0  saint-etienne
2476       Ibrahima Wadji    800000.0  saint-etienne

[2477 rows x 3 columns]

In [112]:
combined_df

,Player,Nation,Pos,Team,Comp,Age,Born,MP,Starts,Min,...,Crs_dup,Int_dup,TklW_dup,PKwon,PKcon,OG,Recov,Won,Lost_dup,Won%
0,Antonee Robinson,us USA,DF,fulham,eng Premier League,27-175,1997.0,23,23,2070,...,118,44,39,0,0,0,96,27,17,61.4
1,Illia Zabarnyi,ua UKR,DF,bournemouth,eng Premier League,22-151,2002.0,23,23,2070,...,4,23,24,0,0,0,109,53,25,67.9
2,Nathan Collins,ie IRL,DF,brentford,eng Premier League,23-275,2001.0,23,23,2070,...,6,20,17,2,0,0,105,75,40,65.2
3,Bryan Mbeumo,cm CMR,FW,brentford,eng Premier League,25-176,1999.0,23,23,2064,...,115,9,17,0,0,0,95,22,52,29.7
4,Moises Caicedo,ec ECU,MF,chelsea,eng Premier League,23-089,2001.0,23,23,2035,...,8,33,40,1,1,0,137,24,10,70.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1984,Chadi Riad,ma MAR,DF,crystal palace,eng Premier League,21-227,2003.0,1,1,90,...,0,2,2,0,0,0,4,2,4,33.3
1985,Issa Kabore,bf BFA,"FW,DF",werder bremen,de Bundesliga,23-263,2001.0,4,0,90,...,9,0,0,0,0,0,5,1,1,50.0
1986,Angel Ortiz,es ESP,DF,betis,es La Liga,20-189,2004.0,1,1,90,...,4,2,5,0,0,0,5,1,2,33.3
1987,Roman Dixon,eng ENG,DF,everton,eng Premier League,20-035,2004.0,1,1,90,...,0,1,5,0,0,0,6,0,3,0.0
1988,Enzo Ebosse,cm CMR,DF,udinese,it Serie A,25-325,1999.0,2,0,90,...,0,1,0,0,0,0,5,1,0,100.0

In [115]:
player_name = "bologna"

# Query using loc[] with a boolean condition
result = tm_df.loc[tm_df['Team'] == player_name]

print(result)

                       Player      Values     Team
1110         Lukasz Skorupski   2500000.0  bologna
1111        Federico Ravaglia   1000000.0  bologna
1112         Nicola Bagnolini    200000.0  bologna
1113              Sam Beukema  22000000.0  bologna
1114              Jhon Lucumi  18000000.0  bologna
1115            Nicolo Casale   7000000.0  bologna
1116             Martin Erlic   5000000.0  bologna
1117             Juan Miranda  11000000.0  bologna
1118  Charalampos Lykogiannis   1000000.0  bologna
1119             Stefan Posch  10000000.0  bologna
1120                Emil Holm   7000000.0  bologna
1121     Lorenzo De Silvestri    400000.0  bologna
1122              Nikola Moro   5000000.0  bologna
1123       Oussama El Azzouzi   2000000.0  bologna
1124           Tommaso Pobega  10000000.0  bologna
1125         Michel Aebischer  10000000.0  bologna
1126          Kacper Urbanski   7000000.0  bologna
1127             Remo Freuler   6500000.0  bologna
1128  Andri Fannar Baldursson    900000.0  bologna
1129           Lewis Ferguson  22000000.0  bologna
1130         Giovanni Fabbian  13000000.0  bologna
1131      Samuel Iling-Junior  11000000.0  bologna
1132       Benjamin Dominguez   6000000.0  bologna
1133                Dan Ndoye  25000000.0  bologna
1134        Riccardo Orsolini  16000000.0  bologna
1135         Nicolo Cambiaghi   7000000.0  bologna
1136          Santiago Castro  25000000.0  bologna
1137           Thijs Dallinga  12000000.0  bologna
1138             Jens Odgaard   7000000.0  bologna

In [116]:
combined_df

,Player,Nation,Pos,Team,Comp,Age,Born,MP,Starts,Min,...,Crs_dup,Int_dup,TklW_dup,PKwon,PKcon,OG,Recov,Won,Lost_dup,Won%
0,Antonee Robinson,us USA,DF,fulham,eng Premier League,27-175,1997.0,23,23,2070,...,118,44,39,0,0,0,96,27,17,61.4
1,Illia Zabarnyi,ua UKR,DF,bournemouth,eng Premier League,22-151,2002.0,23,23,2070,...,4,23,24,0,0,0,109,53,25,67.9
2,Nathan Collins,ie IRL,DF,brentford,eng Premier League,23-275,2001.0,23,23,2070,...,6,20,17,2,0,0,105,75,40,65.2
3,Bryan Mbeumo,cm CMR,FW,brentford,eng Premier League,25-176,1999.0,23,23,2064,...,115,9,17,0,0,0,95,22,52,29.7
4,Moises Caicedo,ec ECU,MF,chelsea,eng Premier League,23-089,2001.0,23,23,2035,...,8,33,40,1,1,0,137,24,10,70.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1984,Chadi Riad,ma MAR,DF,crystal palace,eng Premier League,21-227,2003.0,1,1,90,...,0,2,2,0,0,0,4,2,4,33.3
1985,Issa Kabore,bf BFA,"FW,DF",werder bremen,de Bundesliga,23-263,2001.0,4,0,90,...,9,0,0,0,0,0,5,1,1,50.0
1986,Angel Ortiz,es ESP,DF,betis,es La Liga,20-189,2004.0,1,1,90,...,4,2,5,0,0,0,5,1,2,33.3
1987,Roman Dixon,eng ENG,DF,everton,eng Premier League,20-035,2004.0,1,1,90,...,0,1,5,0,0,0,6,0,3,0.0
1988,Enzo Ebosse,cm CMR,DF,udinese,it Serie A,25-325,1999.0,2,0,90,...,0,1,0,0,0,0,5,1,0,100.0

In [117]:
# Perform exact merge
final_df = combined_df.merge(tm_df, on=['Player', 'Team'], how='left')
final_df

,Player,Nation,Pos,Team,Comp,Age,Born,MP,Starts,Min,...,Int_dup,TklW_dup,PKwon,PKcon,OG,Recov,Won,Lost_dup,Won%,Values
0,Antonee Robinson,us USA,DF,fulham,eng Premier League,27-175,1997.0,23,23,2070,...,44,39,0,0,0,96,27,17,61.4,28000000.0
1,Illia Zabarnyi,ua UKR,DF,bournemouth,eng Premier League,22-151,2002.0,23,23,2070,...,23,24,0,0,0,109,53,25,67.9,38000000.0
2,Nathan Collins,ie IRL,DF,brentford,eng Premier League,23-275,2001.0,23,23,2070,...,20,17,2,0,0,105,75,40,65.2,28000000.0
3,Bryan Mbeumo,cm CMR,FW,brentford,eng Premier League,25-176,1999.0,23,23,2064,...,9,17,0,0,0,95,22,52,29.7,50000000.0
4,Moises Caicedo,ec ECU,MF,chelsea,eng Premier League,23-089,2001.0,23,23,2035,...,33,40,1,1,0,137,24,10,70.6,80000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1984,Chadi Riad,ma MAR,DF,crystal palace,eng Premier League,21-227,2003.0,1,1,90,...,2,2,0,0,0,4,2,4,33.3,15000000.0
1985,Issa Kabore,bf BFA,"FW,DF",werder bremen,de Bundesliga,23-263,2001.0,4,0,90,...,0,0,0,0,0,5,1,1,50.0,6000000.0
1986,Angel Ortiz,es ESP,DF,betis,es La Liga,20-189,2004.0,1,1,90,...,2,5,0,0,0,5,1,2,33.3,NaN
1987,Roman Dixon,eng ENG,DF,everton,eng Premier League,20-035,2004.0,1,1,90,...,1,5,0,0,0,6,0,3,0.0,NaN
1988,Enzo Ebosse,cm CMR,DF,udinese,it Serie A,25-325,1999.0,2,0,90,...,1,0,0,0,0,5,1,0,100.0,2000000.0

In [118]:
final_df['Values'] = final_df['Values'].fillna((final_df['Values'].mean()/1000000).round()*1000000)
final_df

,Player,Nation,Pos,Team,Comp,Age,Born,MP,Starts,Min,...,Int_dup,TklW_dup,PKwon,PKcon,OG,Recov,Won,Lost_dup,Won%,Values
0,Antonee Robinson,us USA,DF,fulham,eng Premier League,27-175,1997.0,23,23,2070,...,44,39,0,0,0,96,27,17,61.4,28000000.0
1,Illia Zabarnyi,ua UKR,DF,bournemouth,eng Premier League,22-151,2002.0,23,23,2070,...,23,24,0,0,0,109,53,25,67.9,38000000.0
2,Nathan Collins,ie IRL,DF,brentford,eng Premier League,23-275,2001.0,23,23,2070,...,20,17,2,0,0,105,75,40,65.2,28000000.0
3,Bryan Mbeumo,cm CMR,FW,brentford,eng Premier League,25-176,1999.0,23,23,2064,...,9,17,0,0,0,95,22,52,29.7,50000000.0
4,Moises Caicedo,ec ECU,MF,chelsea,eng Premier League,23-089,2001.0,23,23,2035,...,33,40,1,1,0,137,24,10,70.6,80000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1984,Chadi Riad,ma MAR,DF,crystal palace,eng Premier League,21-227,2003.0,1,1,90,...,2,2,0,0,0,4,2,4,33.3,15000000.0
1985,Issa Kabore,bf BFA,"FW,DF",werder bremen,de Bundesliga,23-263,2001.0,4,0,90,...,0,0,0,0,0,5,1,1,50.0,6000000.0
1986,Angel Ortiz,es ESP,DF,betis,es La Liga,20-189,2004.0,1,1,90,...,2,5,0,0,0,5,1,2,33.3,14000000.0
1987,Roman Dixon,eng ENG,DF,everton,eng Premier League,20-035,2004.0,1,1,90,...,1,5,0,0,0,6,0,3,0.0,14000000.0
1988,Enzo Ebosse,cm CMR,DF,udinese,it Serie A,25-325,1999.0,2,0,90,...,1,0,0,0,0,5,1,0,100.0,2000000.0

In [119]:
selected_columns = [
    'Player', 'Pos', 'Team', 'Comp', 'Age', 'MP', 'Min', 'Gls', 'Ast',
    'G+A', 'xG', 'xA', 'SoT%', 'npxG/Sh', 'G-xG', 'Cmp%', 'TB',
     'Sw', 'Crs', 'SCA',  'Def', 'Tkl',  'Sh',
    'Int', 'Clr', 'Err', 'Succ', 'PrgDist', 'Mis', 'Recov', 'Won%', 'Values'
]

# Select columns
valid_columns = [col for col in selected_columns if col in final_df.columns]
if len(valid_columns) < len(selected_columns):
    missing_columns = set(selected_columns) - set(valid_columns)
    print(f"Warning: The following columns were not found in the DataFrame and were not selected: {missing_columns}")

selected_df = final_df[valid_columns].copy()

print(selected_df)

                Player    Pos            Team                Comp     Age  MP  \
0     Antonee Robinson     DF          fulham  eng Premier League  27-175  23
1       Illia Zabarnyi     DF     bournemouth  eng Premier League  22-151  23
2       Nathan Collins     DF       brentford  eng Premier League  23-275  23
3         Bryan Mbeumo     FW       brentford  eng Premier League  25-176  23
4       Moises Caicedo     MF         chelsea  eng Premier League  23-089  23
...                ...    ...             ...                 ...     ...  ..
1984        Chadi Riad     DF  crystal palace  eng Premier League  21-227   1
1985       Issa Kabore  FW,DF   werder bremen       de Bundesliga  23-263   4
1986       Angel Ortiz     DF           betis          es La Liga  20-189   1
1987       Roman Dixon     DF         everton  eng Premier League  20-035   1
1988       Enzo Ebosse     DF         udinese          it Serie A  25-325   2

       Min  Gls  Ast  G+A  ...  Sh  Int  Clr  Err  Succ  PrgDist  Mis  Recov  \
0     2070    0    9    9  ...  13   44   75    0    25     7034   27     96
1     2070    0    0    0  ...   7   23  117    2     4     7181   10    109
2     2070    2    1    3  ...  12   20  130    2     5     7142   10    105
3     2064   14    3   17  ...  41    9   34    0    29     2570   65     95
4     2035    1    2    3  ...  12   33   36    0    14     5574   23    137
...    ...  ...  ...  ...  ...  ..  ...  ...  ...   ...      ...  ...    ...
1984    90    0    0    0  ...   0    2    0    0     0      568    1      4
1985    90    0    0    0  ...   2    0    1    0     3      197    1      5
1986    90    0    1    1  ...   1    2    2    0     1      250    6      5
1987    90    0    0    0  ...   0    1    3    0     0      111    2      6
1988    90    0    0    0  ...   0    1    1    0     1      201    1      5

       Won%      Values
0      61.4  28000000.0
1      67.9  38000000.0
2      65.2  28000000.0
3      29.7  50000000.0
4      70.6  80000000.0
...     ...         ...
1984   33.3  15000000.0
1985   50.0   6000000.0
1986   33.3  14000000.0
1987    0.0  14000000.0
1988  100.0   2000000.0

[1989 rows x 32 columns]

In [120]:
# Rename column values
selected_df.rename(columns={"Pos": "Position", "Squad": "Team", "Gls":"Goals",
                            "Cmp%":"Pass Cmp%", "TB":"Through Balls",
                             "Sw":"Switch Passes", "Crs":"Crosses",
                            "SCA":"Shot Creating Actions", "Def":"Def Action to Shot", "Tkl":"Tackles",
                             "Sh":"Shots Blocked", "Int":"Interceptions", "Clr":"Clearances",
                            "Err":"Errors", "Succ":"Dribbles Successful", "PrgDist":"Dribble Distance", "Mis":"Mistakes",
                            "Recov":"Ball Recoveries", "Won%":"Air Duels Won%",}, inplace=True)
selected_df.columns

Index(['Player', 'Position', 'Team', 'Comp', 'Age', 'MP', 'Min', 'Goals',
       'Ast', 'G+A', 'xG', 'xA', 'SoT%', 'npxG/Sh', 'G-xG', 'Pass Cmp%',
       'Through Balls', 'Switch Passes', 'Crosses', 'Shot Creating Actions',
       'Def Action to Shot', 'Tackles', 'Shots Blocked', 'Interceptions',
       'Clearances', 'Errors', 'Dribbles Successful', 'Dribble Distance',
       'Mistakes', 'Ball Recoveries', 'Air Duels Won%', 'Values'],
      dtype='object')

In [121]:
# Save final dataset as csv for modeling
selected_df.to_csv("Final_Dataset.csv")